
<html>
<title>Add New Librarian</title>
<head>
    <title></title>
    <script src="../Controller/AddlibrarianCheck.js"></script>
</head>
<body>

  <fieldset>
  <legend>Librarian Management</legend>
  
        Librian_id: <input type="INT" name="Librianid" value="" > <br>
        Librian_name: <input type="text" name="Librianname" value="" > <br>
        Librian_email: <input type="text" name="Librianemail" value="" > <br>
        Contact_number: <input type="INT" name="Contactnumber" value="" > <br>
        Assigned_role: <input type="text" name="Assignedrole" value="" > <br>
    <button onclick="AddLibrarian()">AddLibrarian</button>
</body>
</html>
